body{
    font-style: Arial;
     margin: auto;
     width: 70%;
    text-align: center;
   
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #265B50;
    width: 200px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color:   #6d9eeb;
    float: left;
    cursor: pointer;
    padding: 14px 15px;
    transition: 0.3s;
    font-size: 17px;
    width: 100px;
    border: 1px solid black;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #7399d8;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #cfe2f3;
}

/* Style the tab content */
.tabcontent {
 background-color:  #efefef;

 width: 100%;
  border: 1px solid black;
}

table{
    text-align:center;
    border-collapse: collapse;
    
    width: 100%;
}

td,th{
    border: 1px solid black;
}

th{
    height: 70px;
    background-color: #fce5cd ;
}

td{
    height: 50px;
    
}
.myChart{
    width: 100%;
   
}

tr:nth-child(even){background-color: #d9d9d9}